type=1
content=若琪|洛奇
block.frm.min=3
block.frm.max=30
block.score.avg=4.2
block.score.min=2.7
sil.left.check=1
sil.left.min.time=300
sil.left.offset=35
sil.left.skip=10
sil.left.shield=0.5
sil.right.check=0
word.min.time=60
word.max.time=800
min.energy=10000
max.delay=120
classify.check=0
classify.shield=-0.04
pholst=ruo qi
cloud.confirm=true

model.path=crnn_dc.bin
#ruoqi: 1.295s
cf.data.len=1.295
crnn.min.score=-0.65
